{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <form action="/teachingIns" method="post">
        <div class="form-group">            
            <input autocomplete="off" autofocus class="form-control" name="teacher_ssn" placeholder="Teacher SSN" type="text"><br><br>
            <input autocomplete="off" autofocus class="form-control" name="departmentid" placeholder="Department ID" type="text"><br><br>
            <input autocomplete="off" autofocus class="form-control" name="techid" placeholder="Tech ID" type="text"><br><br>
            <!-- <input autocomplete="off" autofocus class="form-control" name="tname" placeholder="Tech Name" type="text"><br><br>             -->
            <input autocomplete="off" autofocus class="form-control" name="teacher_rating" placeholder="Rating" type="number" min="0" max="10"><br><br>
        </div>
        
        <button class="btn btn-primary" type="submit">Submit</button>
    </form> 
{% endblock %}