{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <form action="/technologiesUps" method="post">
        <div class="form-group">            
            <input autocomplete="off" autofocus class="form-control" name="departmentid" placeholder="Department ID" type="text">
            <input autocomplete="off" autofocus class="form-control" name="techid" placeholder="Tech ID" type="text">
            <h2>Update:</h2>
            <input autocomplete="off" autofocus class="form-control" name="tname" placeholder="Tech Name" type="text">
        </div>
        
        <button class="btn btn-primary" type="submit">Submit</button>
    </form> 
{% endblock %}